/* mobile */

@media screen and (max-width: 600px) {
  
  .main-grid {
    display: grid;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-auto-rows: repeat(minmax(5rem, 1fr));
  }
  
  .logo-grid {
    grid-column: col-start 1 / span 1;
    grid-row: 1;
  }
  
  .name-grid {
    grid-column: col-start 3 / span 1;
    grid-row: 1;
  }
  
  .sticky-wrapper {
    grid-column: col-start 12;
    grid-row: 1;
  }
  
  .top-content {
    grid-column: col-start 1 / span 12;
    grid-row: 2;
    padding: 1rem;
  }

  .top-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
 .mid-content {
    grid-column: col-start 1 / span 12;  
    grid-row: 3;
    background-color: #fafafa;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .bottom-content {
    grid-column: col-start 1 / span 12;
    margin-top: 2rem;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

 
  /* .page-title {
    grid-column: col-start 2 / span 14;
    grid-row: 2;
  }
  
  .content-items {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .grid-one {
    grid-column: col-start 2 / span 14;
    grid-row: 3;
  }

  .grid-two {
    grid-column: col-start 2 / span 14;
    grid-row: 4;
  }

  .grid-three {
    grid-column: col-start 2 / span 14;
    grid-row: 5;
  }

  .grid-four {
    grid-column: col-start 2 / span 14;
    grid-row: 6;
  } */
}

/* tablet */

@media screen and (min-width: 601px) and (max-width: 767px) {
  
  .main-grid {
    display: grid;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-auto-rows: repeat(minmax(5rem, 1fr));
  }
  
  .logo-grid {
    grid-column: col-start 1 / span 1;
    grid-row: 1;
  }
  
  .name-grid {
    margin-top: 0.5rem;
    grid-column: col-start 3 / span 3;
    grid-row: 1;
  }
  
  .sticky-wrapper {
    grid-column: col-start 12;
    grid-row: 1;
  }
  
  .top-content {
    grid-column: col-start 1 / span 12;
    grid-row: 2;
    padding: 1rem;
  }

  .top-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
 .mid-content {
    grid-column: col-start 1 / span 12;  
    grid-row: 3;
    background-color: #fafafa;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .bottom-content {
    grid-column: col-start 1 / span 12;
    margin-top: 2rem;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

 
  /* .page-title {
    grid-column: col-start 2 / span 14;
    grid-row: 2;
  }
  
  .content-items {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .grid-one {
    grid-column: col-start 2 / span 14;
    grid-row: 3;
  }

  .grid-two {
    grid-column: col-start 2 / span 14;
    grid-row: 4;
  }

  .grid-three {
    grid-column: col-start 2 / span 14;
    grid-row: 5;
  }

  .grid-four {
    grid-column: col-start 2 / span 14;
    grid-row: 6;
  } */
}

/* screen */

@media screen and (min-width: 768px) and (max-width: 991px) {
  
  .main-grid {
    display: grid;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-auto-rows: repeat(minmax(5rem, 1fr));
  }
  
  .logo-grid {
    grid-column: col-start 1 / span 1;
    grid-row: 1;
  }
  
  .name-grid {
    margin-top: 0.5rem;
    grid-column: col-start 2 / span 3;
    grid-row: 1;
  }
  
  .sticky-wrapper {
    grid-column: col-start 12;
    grid-row: 1;
  }
  
  .top-content {
    grid-column: col-start 1 / span 12;
    grid-row: 2;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); /* this needs to be changed to two columns */
    gap: 3rem;
    padding: 1rem;
  }

  .top-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

 .mid-content {
    background-color: #fafafa;
    margin-top: 2rem;
    grid-column: col-start 1 / span 12;
    grid-row: 3;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
    padding: 1rem;
  }

  .bottom-content {
    grid-column: col-start 4 / span 6;
    margin-top: 2rem;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

 
  /* .page-title {
    grid-column: col-start 2 / span 14;
    grid-row: 2;
  }
  
  .content-items {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .grid-one {
    grid-column: col-start 2 / span 14;
    grid-row: 3;
  }

  .grid-two {
    grid-column: col-start 2 / span 14;
    grid-row: 4;
  }

  .grid-three {
    grid-column: col-start 2 / span 14;
    grid-row: 5;
  }

  .grid-four {
    grid-column: col-start 2 / span 14;
    grid-row: 6;
  } */
}

/* large screen */

@media screen and (min-width: 992px) and (max-width: 1199px) {
  
  .main-grid {
    display: grid;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-auto-rows: repeat(minmax(5rem, 1fr));
  }
  
  .logo-grid {
    grid-column: col-start 1 / span 1;
    grid-row: 1;
  }
  
  .name-grid {
    margin-top: 0.5rem;
    grid-column: col-start 2 / span 3;
    grid-row: 1;
  }
  
  .sticky-wrapper {
    grid-column: col-start 12;
    grid-row: 1;
  }
  
  .top-content {
    grid-column: col-start 1 / span 12;
    grid-row: 2;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
    padding: 1rem;
  }

  .top-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .mid-content {
    background-color: #fafafa;
    margin-top: 2rem;
    grid-column: col-start 1 / span 12;
    grid-row: 3;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
    padding: 1rem;
  }

  .bottom-content {
    grid-column: col-start 4 / span 6;
    margin-top: 2rem;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

 
  /* .page-title {
    grid-column: col-start 2 / span 14;
    grid-row: 2;
  }
  
  .content-items {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .grid-one {
    grid-column: col-start 2 / span 14;
    grid-row: 3;
  }

  .grid-two {
    grid-column: col-start 2 / span 14;
    grid-row: 4;
  }

  .grid-three {
    grid-column: col-start 2 / span 14;
    grid-row: 5;
  }

  .grid-four {
    grid-column: col-start 2 / span 14;
    grid-row: 6;
  } */
}

/* Huge Screen */

@media screen and (min-width: 1200px) {

  .main-grid {
    display: grid;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-auto-rows: repeat(minmax(5rem, 1fr));
  }
  
  .logo-grid {
    grid-column: col-start 1 / span 1;
    grid-row: 1;
  }
  
  .name-grid {
    margin-top: 0.5rem;
    grid-column: col-start 2 / span 3;
    grid-row: 1;
  }
  
  .sticky-wrapper {
    grid-column: col-start 12;
    grid-row: 1;
  }
  
  .top-content {
    grid-column: col-start 1 / span 12;
    grid-row: 2;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
    padding: 1rem;
  }

  .top-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .mid-content {
    background-color: #fafafa;
    margin-top: 2rem;
    grid-column: col-start 1 / span 12;
    grid-row: 3;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
    padding: 1rem;
  }

  .bottom-content {
    grid-column: col-start 4 / span 6;
    margin-top: 2rem;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  /* .page-title {
    grid-column: col-start 2 / span 14;
    grid-row: 2;
  }
  
  .content-items {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .grid-one {
    grid-column: col-start 2 / span 14;
    grid-row: 3;
  }

  .grid-two {
    grid-column: col-start 2 / span 14;
    grid-row: 4;
  }

  .grid-three {
    grid-column: col-start 2 / span 14;
    grid-row: 5;
  }

  .grid-four {
    grid-column: col-start 2 / span 14;
    grid-row: 6;
  } */
}